@import "tailwindcss";

@font-face {
  font-family: "Balotro";
  src: url("/fonts/Balotro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Grillmaster";
  src: url("/fonts/Grillmaster Regular 004 Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averia Serif Libre";
  src: url("/fonts/AveriaSerifLibre-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averia Serif Libre";
  src: url("/fonts/AveriaSerifLibre-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averia Serif Libre";
  src: url("/fonts/AveriaSerifLibre-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averia Serif Libre";
  src: url("/fonts/AveriaSerifLibre-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Averia Serif Libre";
  src: url("/fonts/AveriaSerifLibre-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Averia Serif Libre";
  src: url("/fonts/AveriaSerifLibre-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-cream: #fbf0da;
  --color-brown: #563118;
  --color-orange: #d38734;
  --color-terracotta: #c25630;
  --color-white: #ffffff;

  --font-balotro: "Balotro", serif;
  --font-grillmaster: "Grillmaster", sans-serif;
  --font-averia: "Averia Serif Libre", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-cream);
  color: var(--color-brown);
}
